<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather-ico.png"
        
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>This site was created by Darshil Patel. It uses data from mapbox.com and open weather API</p>
            <img class="potrait" src="/img/lily.jpg">   
        </div>
        
        {{>footer}}
    </body>
</html>